tmp
ansible/*.retry
!clusters/
clusters/ec2-k8s/*
!clusters/ec2-k8s
!clusters/ec2-k8s/hosts.sample

docs/images/*.bak 

virtuals
.terraform
generated
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

nohup.out
.passwords
.vscode


cluster-builder.json
